# MAC OS ignore
.DS_Store

# Terraform ignore
**/.terraform/*
**/*.tfstate*
**/.terraform.lock.hcl
*.tfplan
*.external_modules/

# Infracost
manifest.json
.infracost

# Ignore server logs
**/*.log

# Ignore SQL Lite
**/*.db

# Ignore VS Code
**/.vscode/
